.nav-items {
    margin-left: 20px;

    cursor: pointer;

    img {
        transform: rotate(0deg);
        transition: transform 0.3s;

        &.expanded {
            transform: rotate(90deg);
        }
    }

    span {
        opacity: 0.5;
        transition: opacity 0.3s, color 0.3s;
        display: flex;

        &:hover {
            opacity: 1;
        }
    }
}